{{ define "main" }}

<h1>About</h1>

<p>Hi, I'm Krishna. I've been working in the tech industry since 2000.
This site is my collection of notes and thoughts on topics that fascinate me:
technology, business, coding, Linux, AI, Emacs, home automation, and more.
</p>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}
